<!-- 
  File: header.ejs
  Student: Brendan James
  StudentID: 301257167
  Date: October 3rd, 2023
-->

<!--Link footer stylesheet-->
<head>
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>
<!--Define footer content-->
<footer>
    <p>&copy;&nbsp;&nbsp;Copyright Brendan James - 301257167 - COMP229 - Fall 2023</p>
</footer>