/*
File: footer.css
Student: Brendan James
StudentID: 301257167
Date: October 4th, 2023
*/

/*Format the content specific to footer.ejs*/
footer {
    text-align: center;
    background-color: rgb(201, 97, 99);
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    padding-top: 10px;
  } 