/*
File: projects.css
Student: Brendan James
StudentID: 301257167
Date: October 3rd, 2023
*/

/*Resize project images*/
.resize {
    width: 800px;
    border: 2px solid black;
}

/*Format the content specific to project.ejs*/
.projects {
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 25px;
}
